#HQ_page p {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 13px;
    text-align: justify
}

#HQ_page h1,
h2,
h3,
h4,
h5 {
    font-family: "Arial", Gadget, sans-serif;
    border-bottom: none;
    font-weight: bold;
}

#HQ_page table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px
}

#HQ_page td {
    padding: 10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    vertical-align: text-top
}

#HQ_page th {
    background-color: #f2f2f2;
    padding: 10px;
    color: black;
    border: 1px solid #ccc;
    border-collapse: collapse;
    vertical-align: text-top
}